.canvas {
    display: grid;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    filter: brightness(1);
}

.pixel {
    border: 1px solid red;
    filter: brightness(1);
}

.pixel:hover {
    background-color: black;
}
